venv/
__pycache__/
**/__pycache__/
pygen/**/**.pyi

frontend/package-lock.json
frontend/node_modules
frontend/dist
frontend/src/jsgen
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/**/*.jsx.map
frontend/**/*.jsx
frontend/**/*.js.map
frontend/src/**/*.js
frontend/dist/**/*.js
