.AppButton {
  background-color: transparent;
  border: 0;
  display: block;
  height: 5em;
  outline: 0;
  padding: 0;
  width: 5em;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.AppButton .shadow {
  background-color:  #ae0a24ff;
  border-radius: 2.5em;
  filter: blur(0.15em);
  height: 5em;
  opacity: 0.5;
  width: 5em;
}

.AppButton .face {
  align-items: center;
  background-color: #eb3d59ff;
  border-radius: 2.5em;
  display: flex;
  height: 5em;
  left: -0.2em;
  position: absolute;
  top: -0.2em;
  transition: top 0.1s ease, left 0.1s ease;
  width: 5em;
}

.AppButton .face:active {
  top: 0;
  left: 0;
}

.AppButton .icon {
  color: white;
  font-size: 3em;
  margin: auto;
}

@media(hover: hover) {
  .AppButton .face:hover {
    top: 0;
    left: 0;
  }
}