.FileComp {
  background-color: white;
  width: 8em;
  margin: 1em;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.5em #00000032;
  overflow: hidden;
  box-sizing: border-box;
  border: 0.5em solid white;
}

.FileComp > .thumbnail {
  height: 8em;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
}

.FileComp > .thumbnail > .icon {
  color: white;
  margin: auto;
  font-size: 3em;
}

.FileComp > .file_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
  padding: 1em 0 0.5em 0;
  color: #323232;
}