.FileComp {
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  border: 0;
  display: block;
  min-height: 5em;
  min-width: 5em;
  outline: 0;
  padding: 0;
  position: relative;
}

.FileComp:after, .FileComp:before {
  border-radius: 0.5em;
  content: "";
  height: 90%;
  position: absolute;
  width: 90%;
  z-index: 0;
}

.FileComp:after {
  box-shadow: 0 0 1.5em #568499;
  transform: translate(10%, 10%);
}

.FileComp:before {
  background-color: #ffffff7f;
  box-shadow: 0 0 0.5em white;
}

.FileComp > .inner {
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: transform 0.1s ease-out;
  width: 100%;
  z-index: 2;
}

.FileComp > .inner:active {
  transform: translate(0.2em, 0.2em);
}

.FileComp > .inner > .thumbnail_container {
  align-items: center;
  background: linear-gradient(160deg, rgba(80,190,189,1) 0%, rgba(52,126,158,1) 100%);
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  height: 8em;
  position: relative;
}

.FileComp > .inner > .thumbnail_container > .icon {
  color: white;
  font-size: 3em;
  margin: auto;
}

.FileComp > .inner > .thumbnail_container > .thumbnail {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.FileComp > .inner > .file_name {
  background-color: white;
  box-sizing: border-box;
  color: #323232;
  flex-grow: 0;
  padding: 0.5em;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media(hover: hover) {
  .FileComp >.inner:hover {
    transform: translate(0.2em, 0.2em);
  }
}