.Header {
  align-items: center;
  background: linear-gradient(69deg, rgba(1,164,235,1) 0%, rgba(177,136,255,1) 100%) no-repeat;
  box-shadow: 0 0 0.5em #0045637f;
  color: white;
  display: flex;
  height: 3em;
}

.Header h1 {
  font-size: 1.3em;
  font-weight: 300;
  margin-right: 2em;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Header .logo {
  background-image: url("/logo_white.png");
  background-size: cover;
  height: 2em;
  margin: 0 2em 0 2em;
  width: 2em;
}