.Header {
  height: 3em;
  background: #01a4eb;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 1em;
  box-shadow: 0 0 0.5em #0045637f;
}

.Header h1 {
  font-size: 1.3em;
  font-weight: 300;
  margin-left: 0.5em;
  padding: 0;
  text-transform: uppercase;
}

.header .logo {
  background-image: url("/logo_white.png");
  background-size: cover;
  height: 2em;
  width: 2em;
}