html, body, #app {
  background-color: #01a4eb;
  height: 100%;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.App {
  background-color: #e3f6ff;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 20em;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.App > .up_button {
  bottom: 2em;
  position: fixed;
  right: 2em;
  z-index: 9;
}

.App > .header {
  position: fixed;
  width: 100%;
  z-index: 8;
}

.App > .main {
  background-color: #e3f6ff;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 3em;
  width: 100%;
}

.App > .main::-webkit-scrollbar {
  display: none;
}

.App > .screen_blocker {
  background-color: #000000c7;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.App > .up_button.v-enter-active,
.App > .up_button.v-leave-active {
  transition: transform 0.3s ease;
}

.App > .up_button.v-enter-from {
  transform: translateX(7em);
}

.App > .up_button.v-enter-to {
  transform: translateX(0em);
}

.App > .up_button.v-leave-from {
  transform: translateX(0em);
}

.App > .up_button.v-leave-to {
  transform: translateX(7em);
}

.App > .main.v-enter-active,
.App > .main.v-leave-active {
  position: absolute;
  transition: transform 0.5s ease;
  z-index: 1;
}

.App > .main.v-enter-from {
  transform: translate(100%, 0);
}

.App > .main.v-enter-to {
  transform: translate(0, 0);
}

.App > .main.v-leave-from {
  transform: translate(0, 0);
}

.App > .main.v-leave-to {
  transform: translate(-30%, 0);
}

.App > .screen_blocker.v-enter-active {
  transition: opacity 1s ease;
}

.App > .screen_blocker.v-enter-from {
  opacity: 0;
}

.App > .screen_blocker.v-enter-to {
  opacity: 1;
}